.objlist  /*   apply to the object list table tag <table class="objlist">  */ {  }
.objlist td  /* applies a "nowrap" style to all <TD> cells in a object list table */ { white-space: nowrap; }
.objlist tr.title td  	 /* apply to the first row in table  <tr class="title"> */
	 { color: white; 
	 font-weight: bold; 
	 font-size: 0.9em; 
	 background-color: #458ab9; 
	 text-align: left; 
	 text-indent: 0.2em; 
	 padding: 0.2em; }
	 
.objlist tr.menu td	/* apply to the row after the title  <tr class="menu"> */ 
	{ background-color: #efeeec; padding-top: 3px;  padding-left: 3px; padding-bottom: 5px; font-size: 0.85em;}
	
.objlist tr.menu a	/* menu style will automaticallly apply to all links within the table row*/ 
	{ text-decoration: none; padding-top: 2px; padding-right: 5px; padding-bottom: 1px !important; padding-left: 5px; }

.objlist div.actions a:hover { color: white; background-color: #458ab9;}

.objlist tr.columnhead td	/* Apply to the column headings row following the menu <tr class="columnhead"> */
	{ color: black; font-weight: bold; font-size: 0.75em; background-color: #edeeec; padding-right: 10px; border-bottom: 1px solid black   }
.objlist tr.columnhead a { text-decoration: none; }
.objlist tr.regrow td	/*Apply to all the content rows <tr class="regrow">  Style will automatically flow to each cell <td>. If a cell is empty, place a &nbsp; (none braking space) in the cell so the line style will continue across all cells in the row. */ 
	{ font-size:0.75em; padding: 2px 5px 2px 2px; border-bottom: 1px solid #babdb6; }
.objlist tr.regrow td.wrapOK  /* Apply this class to a <TD> inside a <TR class="regrow"> to let the TD wrap normally. */ { white-space: normal; }
/*menu actions, e.g., New, Edit, Delete, include a rollover color change. On the onmouseover event, change the menu links (<a>) to the same color as the title background. Change the text color to white. See the HTML example in the guideline for implementation examples.*/

tr.ends td   
	{ border-right: 1px solid #bbbbb9; 
	border-left: 1px solid #bbbbb9}	
			
tr.titleends td   
	{ border-right: 1px solid #173751; 
	border-left: 1px solid #173751}		
		
td.leftend    
	{ border-left: 1px solid #bbbbb9 }
				
td.rightend   
	{ border-right: 1px solid #bbbbb9; }
.objlist tr.regrow td.righton { color: black; font-weight: 700; text-transform: uppercase; cursor: help; }
.objlist tr.regrow td.rightoff { color: #bbbbb9; font-weight: normal; text-transform: uppercase; cursor: help; }
.objlist tr.regrow td span.instructions { font-size: 0.95em; }
